In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [2]:
sorted_companies = sorted([{'name': company['name']} for company in company_detail_list], key=lambda x: x['name'], reverse=True)

for company in sorted_companies:
    print(company['name'])

Company 3
Company 2
Company 1

In [3]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [5]:
domain_employee_mapping = {}

for company in company_detail_list:
    # Tambahkan setiap domain perusahaan ke dictionary
    domain_employee_mapping[company['domain']] = []

for employee in employee_detail_list:
    # Cari domain perusahaan berdasarkan nama perusahaan karyawan
    for company in company_detail_list:
        if employee['company'] == company['name']:
            domain_employee_mapping[company['domain']].append(employee['full_name'])

domain_employee_mapping

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [6]:
def get_employee_company_country():
    result = []
    for employee in employee_detail_list:
        for company in company_detail_list:
            if employee ['company'] == company['name']:
                result.append({
                    'full_name': employee['full_name'],
                    'company': employee['company'],
                    'country': company['country']
                })
    return result

get_employee_company_country()

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

In [7]:
def get_company_nationality_count():
    result = []
    for company in company_detail_list:
        nationality_count = {}
        for employee in employee_detail_list:
            if employee['company'] == company['name']:
                nationality = employee['nationality']
                if nationality in nationality_count:
                    nationality_count[nationality] += 1
                else:
                    nationality_count[nationality] = 1
        result.append({
            'company': company['name'],
            'employee_nationality': nationality_count
        })
    return result

get_company_nationality_count()

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]